{% extends "base.twig" %}

{% block title %}Certificate of adoption{% endblock %}

{% block body %}

    <div class="certif-wrapper">

        <img class="certif-stamp" src="data:image/png;base64,{{ stampImg }}" alt="Certificat d'adoption"/>

        <div class="certif-content">
            <header class="less-margin">
                <h1>Certificate of adoption</h1>
                <hr>
                <span>
                of a coral contributing to the Deep CORE<br>coral restoration project in<br>the Mediterranean
            </span>
            </header>

            <div class="content-pics">

                <div class="pic-corail">
                    <img src="data:image/png;base64,{{ productImg }}" alt="Corail adopté"/>
                </div>

                <div class="pic-transplanteur">
                    <img src="data:image/png;base64,{{ transplantImg }}" alt="Transplanteur"/>
                    <strong class="text-uppercase">Restored by:</strong><br>
                    <span class="typo-courrier">{{ data.seeder }}</span>
                </div>

            </div>

            <div class="content-infos">
                <span class="infos-title">{{ data.adopteeName }}</span>
                <span class="infos">
                <span class="text-uppercase">Species: </span><em class="typo-courrier">Dendrophyllia ramea</em><br>
					<span class="text-uppercase">Date: </span><span class="typo-courrier">{{ data.date }}</span><br>
					<span class="text-uppercase">GPS Coordinates: </span><span class="typo-courrier letter-spacing-unset">36°43'08.85''N - 3°43'38.02''O</span>
				</span>
            </div>

            <hr class="bottom-hr">

            <a class="certif-website-spain letter-spacing-unset" href="https://www.coralguardian.org/">In partnership with the local nonprofit Coral Soul, Punta de la Monta</a>
        </div>

        <img class="logo" src="data:image/png;base64,{{ cgLogoImg }}" alt="Coral Guardian"/>

    </div>
{% endblock %}