{% extends "base.twig" %}
{% block body %}

    <div class="certif-wrapper">

        <img class="certif-stamp" src="{{ assets_path ~ "img/stamp.png" }}" alt="Certificat d'adoption"/>

        <div class="certif-content">
            <header>
                <h1>Certificat d'adoption</h1>
                <hr>
                <span>
					d’un corail contribuant au programme de restauration du récif d’Hatamin en Indonésie
				</span>
            </header>

            <div class="content-pics">

                <div class="pic-corail">
                    <img src="{{ assets_path ~ "img/" ~ data.productPicture }}" alt="Corail adopté"/>
                </div>

                <div class="pic-transplanteur">
                    <img src="{{ assets_path ~ "img/seeders/" ~ data.seederPicture }}" alt="Transplanteur"/>
                    <strong class="text-uppercase">Transplanté par :</strong><br>
                    <span class="typo-courrier">{{ data.seeder }}</span>
                </div>

            </div>

            <div class="content-infos">
                <span class="infos-title">{{ data.adopteeName }}</span>
                <span class="infos">
                <span class="text-uppercase">Espèce : </span><em class="typo-courrier">Acropora sp</em><br>
					<span class="text-uppercase">Date : </span><span class="typo-courrier">{{ data.date }}</span><br>
					<span class="text-uppercase">Coordonnées GPS : </span><span class="typo-courrier">8°24’05.14’’S - 119°52’37.28’’E</span>
				</span>
            </div>

            <hr>

            <a class="certif-website" href="https://www.coralguardian.org/">coralguardian.org</a>
        </div>

        <img class="logo" src="{{ assets_path ~ "img/logo-coral-guardian.png" }}" alt="Coral Guardian"/>

    </div>
{% endblock %}